body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* BARRE DE NAVIGATION */
nav {
    background-color: #f2f3eb;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav .right_nav {
    margin-left: 60rem;
}

nav .right_nav .cta-btn {
    margin: 0px 0px 17.8rem 0px;
}

nav .right_nav a{
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

nav .right_nav a:hover {
    color:#34671b;
    border-bottom: solid #34671b;
    cursor: pointer;
}

.login-btn {
    margin-left: 10px;
    background-color: #34671b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* FIN BARRE DE NAVIGATION */

/* ------------------------------------------------------ */

/* FOOTER */

footer {
    background-color: #f2f3eb;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-logos {
    margin-top: 10px;
    margin-left: 60rem;
}

.footer-logos img {
    width: 100px;
    margin: 0 10px;
}

/* FIN FOOTER */

.cta-btn {
    background-color: #34671b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: all 0.2s;
}

.cta-btn:hover {
    background-color: #87bc26;
}

/* ------------------------------------------------------ */
/* PAGE D'ACCUEIL */

/* HEADER */
header .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: url('img/arbre2.jpg');
    background-size: cover;
}

header h1 {
    font-size: 3em;
    margin: 17.8rem 0px 0px 0px;
}

header p {
    font-size: 1.2em;
    margin: 20px 0;
}

header .cta-btn {
    margin: 0px 0px 17.8rem 0px;
}
/* FIN HEADER */

/*  FIN PAGE D'ACCUEIL */

/* ------------------------------------------------------ */

/* PAGE CARTE */

main .text_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0rem 5rem 0rem;
    background: linear-gradient(to top, #87bc26, #f2f3eb);
}


main .carte_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 4rem 0px 4rem 0px;
}

main .carte_content #map {
    margin-right: 2rem;
}

main .carte_content .carte_clusters{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px #d7d7d7;
    border-radius: 5px;
    margin-left: 2rem;
    padding: 3rem 1rem 3rem 1rem;
}

main .carte_content .carte_clusters h2 {
    padding: 0;
    margin-bottom: 4rem;
}

main .carte_content .carte_clusters p {
    padding: 0;
    margin-top: 2px;
}

main .carte_content .carte_clusters cluster_card {
    margin-top: 4rem;
}

input {
    border: solid 1px #d7d7d7;
    padding: 10px;
    border-radius: 5px;
}

table {
    border: solid black 2px;
}

.tabArbre {
    margin: 0rem 20rem 0rem 20rem;
    padding: 0rem 0rem 2rem 0rem;
}

.pagination {
    align-items: center;
    justify-content: center;
}

.pagination button {
    background-color: #34671b;
    color: white;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: all 0.2s;
    margin: 5px;
}

.pagination button:hover {
    background-color: #87bc26;
}

.pagination span {
    margin: 10px;
    font-size: 20px;
}

/* FIN PAGE CARTE */

/* ------------------------------------------------------ */

/* PAGE AJOUT */

main #ajoutArbre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5rem 0rem 10rem 0rem;
    background-color: white;
    border-radius: 5px;
    width: 20rem;
    padding: 20px;
}

main .form_ajout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url('img/arbre2.jpg');
    background-size: cover;
}

main .form_ajout h1 {
    color: white;
    margin: 10rem 0 10rem 0;
}

#espece {
    width: 100px;
}

main #ajoutArbre .taille_form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

main #ajoutArbre .taille_form input {
    margin-right: 5px;
    margin-left: 5px;
    width: 70px;
}

.form_ajout #ajoutArbre .coord_form {
    display: flex;
    justify-content: center;
}

.form_ajout #ajoutArbre .coord_form input {
    width: 70px;
}

.form_ajout #ajoutArbre select {
    margin-top: 1rem;
    width: 200px;
    padding: 10px;
    border: solid 1px #d1d1d1;
}

.form_ajout #ajoutArbre button {
    background-color: #34671b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: all 0.2s;
}

.form_ajout #ajoutArbre button:hover {
    background-color: #87bc26;
}

/* FIN PAGE AJOUT */

/* ------------------------------------------------------ */

/* RESPONSIVE */
@media all and (max-width:1600px) {
    nav .right_nav {
        margin-left: 30rem;
    }

    footer .footer-logos {
        margin-left: 30rem;
    }
}

@media all and (max-width:680px) {
    nav .right_nav {
        margin-left: 0rem;
    }
}

/* FIN RESPONSIVE */